<h3 id="tier{{number}}punctuation">
                
        {%- assign en = "Tier " | append: number | append: " Punctuation Characters" -%}
        {%- assign sp = "sitelen nasin pi(suli nanpa" | append: indexsp | append: ")"-%}
        {%- assign sL = "sitelen nasin pi suli #" | append: indexsl  -%}

        {% include "partials/ui-translate.liquid", 
            enName: en,
            spName: sp, 
            sLName: sL %}

</h3>
<ul class="punctuation">
        {%- for entry in tier["punctuation"] -%}
        <li  class="{%- if entry.no-codepoint == 'true' -%} no-codepoint {%- endif -%}">
            {%- if entry.pair != "true" -%}
            <span class="word-glyph {%- if entry.invisible == 'true' -%} invisible {%- endif -%}">{{ entry.input }}</span>
            <span class="word-name">
                <span>
        {%- include "partials/ui-translate.liquid", 
            enName: entry.name,
            spName: entry.spname, 
            sLName: entry.slname -%}{%- if entry.no-codepoint == 'true' -%}*{%- endif -%}</span>
            {%- else -%}
            <span class="word-glyph">{{ entry.input[0] }}</span>
            <span class="word-glyph pair">{{ entry.input[1] }}</span>
            <span class="word-name">
                <span>{%- include "partials/ui-translate.liquid", 
            enName: entry.name[0],
            spName: entry.spname[0], 
            sLName: entry.slname[0] -%}</span>{%- include "partials/ui-translate.liquid", 
            enName: ",",
            spName: "zz ", 
            sLName: ","-%}<span>{%- include "partials/ui-translate.liquid", 
            enName: entry.name[1],
            spName: entry.spname[1], 
            sLName: entry.slname[1] -%}{%- if entry.no-codepoint == 'true' -%}*{%- endif -%}</span>
            {%- endif -%}
                {%- if entry.explain -%}
                <div class="explain">
                {% include "partials/ui-translate.liquid", 
            enName: entry.explain,
            spName: entry.explainsp, 
            sLName: entry.explainsl %}
                </div>
                <div class="example">
                <span>{%- include "partials/ui-translate.liquid", 
            enName: "Before:",
            spName: "open la", 
            sLName: "open:" -%}</span> 
                <code><span class="before"><span class="ui-en">{{ entry.example-before}}</span><span class="ui-tok">{{ entry.example-beforetok}}</span></span></code>
                <span>{%- include "partials/ui-translate.liquid", 
            enName: "After:",
            spName: "pini la", 
            sLName: "pini:" -%}</span>
                <span class="after">{{ entry.example-after}}</span>
                </div>

                {%- endif -%}
            </span>
        </li>
        {%- endfor -%}
</ul>
