<h3 id="tier{{index}}words">Tier {{index}} Word Glyphs</h3>
<div class="word-grid">
    {%- for entry in words  -%}
                <span class="cell">
                <span class="word-glyph">
                {%- if entry.placeholder -%}
                {{ entry.placeholder }}
                {%- else -%}
                &#x{{ entry.codepoint }};
                {%- endif -%}
                </span>
                <div class="word-name">
                    {{ entry.name }}<br>
                </div>
                <div class="tech">{{ entry.technical_name }}</div>
                </span>
    {%- endfor -%}
</div>
